:root {
  --whb-top-bar-bg: #e30713;
  --whb-red-bg: #e30713;
}

.whb-top-bar {
  background-color: var(--whb-top-bar-bg);
}

.whb-red-bg {
  background-color: var(--whb-red-bg);
}

.whb-red-text {
  color: var(--whb-red-bg);
}

.cursor-pointer {
  cursor: pointer;
}
.gray-border {
  border: 1px solid rgba(0, 0, 0, 0.105);
}

.gray-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}
.gray-top-border {
  border-top: 1px solid rgba(0, 0, 0, 0.105);
}
.red-top-border {
  border-top: 1px solid var(--whb-red-bg);
}
.hover-header-link:hover {
  color: var(--whb-top-bar-bg);
}
