:root {
  --whb-top-bar-bg: #e30713;
}

.whb-top-bar {
  background-color: var(--whb-top-bar-bg);
}

.cursor-pointer {
  cursor: pointer;
}
.gray-border {
  border: 1px solid rgba(0, 0, 0, 0.105);
}

.gray-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
}

.hover-header-link:hover {
  color: var(--whb-top-bar-bg);
}
